---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  {
    Array.from({ length: 10 }, (_) => (
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor,
          nunc eget ultricies ultricies, nunc nisl ultricies nunc, nec ultricies
          nisl nisl nec nisl. Donec auctor, nunc eget ultricies ultricies, nunc
          nisl ultricies nunc, nec ultricies nisl nisl nec nisl. Donec auctor,
          nunc eget ultricies ultricies, nunc nisl ultricies nunc, nec ultricies
          nisl nisl nec nisl. Donec auctor, nunc eget ultricies ultricies, nunc
          nisl ultricies nunc, nec ultricies nisl nisl nec nisl. Donec auctor,
          nunc eget ultricies ultricies, nunc nisl ultricies nunc, nec ultricies
          nisl nisl nec nisl. Donec auctor, nunc eget ultricies ultricies, nunc
          nisl ultricies nunc, nec ultricies nisl nisl nec nisl. Donec auctor,
          nunc eget ultricies ultricies, nunc nisl ultricies nunc, nec ultricies
          nisl nisl nec nisl.
        </p>
      </div>
    ))
  }
</MainLayout>
