---
import { allAuthors } from "../consts";
import TinyCircle from "./TinyCircle.astro";
const today = new Date();

const authors = allAuthors();
---

<footer class="w-full bg-gray-200 p-6 flex-shrink-0">
  <div class="max-w-7xl mx-auto flex items-center flex-col gap-4">
    <div class="flex gap-4">
      {
        authors.map((author, index) => (
          <div class="flex gap-4">
            <a target="_blank" href={author?.github} class="flex gap-2">
              {author?.id}
            </a>
            {index !== authors.length - 1 && <TinyCircle />}
          </div>
        ))
      }
    </div>
     &copy; {today.getFullYear()}
  </div>
</footer>
