---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class=`font-semibold flex flex-col gap-1 text-lg items-center ${isActive ? 'text-red-500' : ''}`
  {...props}
>
  <slot />
  {
    href !== "/" && (
      <span
        class={`h-2 w-2 rounded-full ${isActive ? "bg-red-500" : "bg-none"}`}
      />
    )
  }
</a>
